* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
.btn {
  padding: 0.5em 1em;
  background-color: #4E75FF;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 9px;
  }

.btn-delete {
  background-color: #FF4E4E;
}

/* Task 1 */

#categories {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
  font-weight: 600;

;
}

#categories li {
  display: flex;
  flex-direction: column;
  padding: 1em;
  list-style: none;
  border: #212121 solid 1px;
  border-radius: 5px;
  background-color:#F6F6FE;
}

#categories ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Task 2 */

/* Ensure the gallery list has no default padding or margin */
.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Style each list item to have some margin */
.gallery li {
    margin: 10px;
}

/* Style the images to have a fixed width */
.gallery img {
    width: 500px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
}
/* Task 4 */

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.login-form label input {
  display: flex;
}

.login-form button {
  align-self: flex-start;
}


/* Task 6 */

#boxes {
  background-color: #F6F6FE;
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1em;
  flex-wrap: wrap;
}